.flex {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    background-color: royalblue;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}